[Desktop Entry]
Name=Rename Workspace
Comment=Rename the focused Sway workspace
Exec=sh -c "$HOME/.local/bin/rename_workspace.sh"
Type=Application
Terminal=false
Keywords=sway;workspace;rename;
Icon=edit-rename
